#box {
    background-color: hsla(0, 0%, 83%, 0.482);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#container {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: white;
    width: 50%;
    height: 650px;
    padding: 5px 20px;
}

#gameIcon {
    top: 30px;
    left: 420px;
    width: 135px;
    position: absolute;
}

#gameName {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

input {
    font-size: 30px;
    text-align: center;
}

#roll {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 10px;
    font-weight: bold;
    border:none;
    box-shadow: 5px 5px 8px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(11, 242, 11);
}

#roll:hover {
    background-color: hsl(120, 92%, 46%);
}

#roll:active {
    background-color: hsl(120, 95%, 34%);
}

#result {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

#diceImages {
    position: relative;
    left: 180px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

#diceImages img{
    text-align: center;
    width: 120px;
}